.dockerignore

# სპეციალურად არ ვამატებ .env-ის რადგან მნიშვნელოვანი ინფორმაცია მაინც არ გვიწერია, რადგან სატესტოა.
# უფრო კარგი პრაქტიკა იქნებოდა .env-copy შემექმნა და მანდ დამეწერა რა ინფორმაციაა საჭირო.